# Blocklist files/folders in same directory as the .gitignore file
/*

!/.gitignore
!/.gitattributes

!/alacritty/
/alacritty/*
!/alacritty/alacritty.yml
!/alacritty/colorschemes
/alacritty/colorschemes/*
!/alacritty/colorschemes/*.yml
!/awesome/
/awesome/*
!/awesome/*.lua
!/bash
/bash/*
!/bash/bash_profile
!/bash/bashrc
!/bash/bash-completion
!/bat/
/bat/*
!/bat/config
!/bat/themes
/bat/themes/*
!/bpython/
/bpython/*
!/bpython/config
!/btop/
/btop/*
!/btop/btop.conf
!/calcurse/
/calcurse/*
!/calcurse/conf
!/calcurse/keys
!/calcurse/hooks
/calcurse/hooks/*
!/cherry-pick.hook
!/clang-format
!/clang-tidy
!/dunst/
/dunst/*
!/dunst/org.freedesktop.Notifications.service
!/dunst/dunstrc
!/etc/
/etc/*
!/etc/doas.conf
!/etc/grub.d
!/etc/pacman.d/
/etc/pacman.d/*
!/etc/pacman.d/hooks
/etc/pacman.d/hooks/*
!/etc/pacman.d/hooks/log-installed.hook
!/etc/NetworkManager/
/etc/NetworkManager/*
!/etc/NetworkManager/install.sh
/etc/NetworkManager/dispatcher.d/*
!/etc/NetworkManager/dispatcher.d/09-timezone
!/etc/NetworkManager/dispatcher.d/10-enable-sshd
!/etc/X11/
/etc/X11/*
!/etc/X11/install.sh
!/etc/X11/xorg.conf.d/
/etc/X11/xorg.conf.d/*
!/etc/X11/xorg.conf.d/*.conf
!/etc/xdg/
/etc/xdg/*
!/etc/xdg/reflector/
/etc/xdg/reflector/*
!/etc/xdg/reflector/install.sh
!/etc/xdg/reflector/reflector.conf
!/etc/zsh
/etc/zsh/*
!/etc/zsh/zshenv
!/etc/zsh/install.sh
!/fastfetch/
/fastfetch/*
!/fastfetch/config.conf
!/git/
/git/*
!/git/config
!/git/ignore_global
!/gnupg
/gnupg/*
!/gnupg/gpg-agent.conf
!/icons/
/icons/*
!/icons/svg/
/icons/svg/*
!/icons/png/
/icons/png/*
!/icons/svg/status/
/icons/svg/status/*
!/icons/svg/status/*.svg
!/icons/png/status/
/icons/png/status/*
!/icons/png/status/*.png
!/htop/
/htop/*
!/htop/htoprc
!/hypr/
/hypr/*
!/hypr/*.conf
!/hypr/xdg-desktop-portal-hyprland-script
!/kitty/
/kitty/*
!/kitty/kitty.conf
!/kitty/sessions/
/kitty/sessions/*
!/kitty/sessions/scratchpad-kitty
!/kitty/sessions/language_interpeters
!/kitty/colorschemes/
/kitty/colorschemes/*
!/kitty/colorschemes/*.conf
!/lf/
/lf/*
!/lf/lfrc
!/LICENSE
!/Makefile
!/mimeapps.list
!/mpd/
/mpd/*
!/mpd/mpd.conf
!/mpv/
/mpv/*
!/mpv/mpv.conf
!/mpv/input.conf
!/mpv/scripts/
/mpv/scripts/*
!/mpv/scripts/*.lua
!/mpv/script-modules/
/mpv/script-modules/*
!/mpv/script-modules/*.lua
!/mpv/script-opts/
/mpv/script-opts/*
!/mpv/script-opts/*.conf
!/ncmpcpp/
/ncmpcpp/*
!/ncmpcpp/config
!/neofetch/
/neofetch/*
!/neofetch/config.conf
!/neofetch/Arch-linux-logo.png
!/newsboat/
/newsboat/*
!/newsboat/config
!/newsboat/repos-urls
!/newsboat/themes
!/npm/
/npm/*
!/npm/npmrc
!/nvim/
/nvim/*
!/nvim/coc-settings.json
!/nvim/init.gvim
!/nvim/init.lua
!/nvim/ginit.vim
!/nvim/lua/
/nvim/lua/*
!/nvim/lua/*.lua
!/nvim/lua/config/
/nvim/lua/config/*
!/nvim/lua/config/*.lua
!/nvim/lua/plugins/
/nvim/lua/plugins/*
!/nvim/lua/plugins/*.lua
!/nvim/after/
/nvim/after/*
!/nvim/snippets/
/nvim/snippets/*
!/nvim/snippets/*.snippets
!/nvim/spell/
/nvim/spell/*
!/nvim/spell/*.spl
!/nvim/after/plugin/
/nvim/after/plugin/*
!/nvim/after/plugin/*.lua
!/nvim-qt
/nvim-qt/*
!/nvim-qt/nvim-qt.conf
!/onefetch
/onefetch/*
!/onefetch/images
/onefetch/images/*
!/onefetch/images/*.png
!/picom/
/picom/*
!/picom/picom.conf
!/pipewire/
/pipewire/*
!/pipewire/pipewire.conf.d/
/pipewire/pipewire.conf.d/*
!/pipewire/pipewire.conf.d/99-input-denoising.conf
!/polybar/
/polybar/*
!/polybar/config.ini
!/polybar/launch-polybar.sh
!/polybar/bars/
/polybar/bars/*
!/polybar/bars/*.ini
!/polybar/modules/
/polybar/modules/*
!/polybar/modules/*.ini
!/post-merge
!/python/
/python/*
!/python/pythonrc.py
!/ranger/
/ranger/*
!/ranger/scope.sh
!/ranger/rifle.conf
!/ranger/commands.py
!/ranger/rc.conf
!/ranger/colorschemes/
/ranger/colorschemes/*
!/ranger/colorschemes/*.py
!/redshift/
/redshift/*
!/redshift/redshift.conf
!/redshift/redshift-wayland.conf
!/rofi/
/rofi/*
!/rofi/config.rasi
!/shell/
/shell/*
!/shell/aliasrc
!/shell/profile
!/sxhkd/
/sxhkd/*
!/sxhkd/sxhkdrc
!/systemd/
/systemd/*
!/systemd/user/
/systemd/user/*
!/systemd/user/*.service
!/systemd/user/*.target
!/systemd/user/hotkeys.sh
!/sway/
/sway/*
!/sway/config
!/swhkd/
/swhkd/*
!/swhkd/swhkdrc
!/tealdeer/
/tealdeer/*
!/tealdeer/config.toml
!/tmux/
/tmux/*
!/tmux/tmux.conf
!/user-dirs.dirs
!/user-dirs.locale
!/vifm/
/vifm/*
!/vifm/favicons.vifm
!/vifm/vifmrc
!/vifm/colors/
/vifm/colors/*
!/vifm/colors/*.vifm
!/vifm/scripts
!/vifm/scripts/
/vifm/scripts/*
!/vifm/scripts/README
!/vim
/vim/*
!/vim/vimrc
!/vim/colorschemes
/vim/colorschemes/*
!/vim/colorschemes/*.vim
!/vim/plugin
/vim/plugin/*
!/vim/plugin/*.vim
!/vim/plugin/*.nvim
!/waybar
/waybar/*
!/waybar/config.jsonc
!/waybar/modules.jsonc
!/waybar/style.css
!/waybar/waybar-autoreload
!/wezterm/
/wezterm/*
!/wezterm/wezterm.lua
!/wgetrc
!/wl-clipboard-history/
/wl-clipboard-history/*
!/wl-clipboard-history/ignore
!/wofi
/wofi/*
!/wofi/*.css
!/X11/
/X11/*
!/X11/colorschemes
!/X11/xinitrc
!/X11/xprofile
!/X11/Xresources
!/xbindkeys/
/xbindkeys/*
!/xbindkeys/config
!/xmobar
!/xmonad
/xmonad/*
!/xmonad/lib
/xmonad/lib/*
!/xmonad/lib/Colors
!/xmonad/pacman-hooks
!/xmonad/xmonad.hs
!/xmonad/xmonad_keys.sh
!/xmonad/xmonadctl.hs
!/xournalpp/
/xournalpp/*
!/xournalpp/latex
!/yarn/
/yarn/*
!/yarn/config
!/yay/
/yay/*
!/yay/config.json
!/yay/yay-install.sh
!/ytfzf
/ytfzf/*
!/ytfzf/conf.sh
!/zathura/
/zathura/*
!/zathura/zathurarc
!/zsh
/zsh/*
!/zsh/[.]p10k.terminal.zsh
!/zsh/[.]p10k.zsh
!/zsh/p10k.glyphs.zsh
!/zsh/.zprofile
!/zsh/.zshenv
!/zsh/.zshrc
!/zsh/zsh-comp
!/zsh/zsh-keybindings
!/zsh/completions
/zsh/completions/*
!/zsh/completions/_*

!**README.md

# Ignore syncthing sync-conflicts
**.sync-conflict**

# Ignore .git repos
**/.git

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
