[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

[Service]
Type=simple
Environment=PATH=%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/bin
ExecStart=%h/.config/systemd/user/hotkeys.sh
ExecReload=/usr/bin/pkexec pkill -HUP swhkd
ExecStop=/usr/bin/pkexec killall swhkd

[Install]
WantedBy=default.target
