[Unit]
Description=Idle manager for Wayland
Documentation=man:waylock(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle

[Install]
WantedBy=hyprland-session.target
