[Unit]
Description=Idle manager for Wayland
Documentation=man:waylock(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w timeout 180 'waylock -fork-on-lock' timeout 300 'hyprctl dispatch dpms off' resume 'hyprctl dispatch dpms on'

[Install]
WantedBy=hyprland-session.target
