[Unit]
Description=A Solution to your Wayland Wallpaper Woes
Documentation=man:swww(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Restart=no
ExecStart=/usr/bin/swww init
