[Unit]
Description=Wallpaper Loop

[Service]
Type=simple
Environment=PATH=%h/.local/bin:/usr/local/bin:/sbin/
Environment=WALLPAPERS_HOME_DIR=%h/Wallpapers/Computer/
ExecStart=%h/.local/bin/wallpaperLoop
CPUWeight=80
MemoryMax=3G
MemorySwapMax=1G

[Install]
WantedBy=default.target
